<%= form_for [:admin,@sub_answer], :html => { :multipart => true } do |f| %>
<% if @sub_answer.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@sub_answer.errors.count, "error") %> prohibited this sponsor from being saved:</h2>
	<ul>
		<% @sub_answer.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :answer_id %>
	<%= f.select :answer_id,options_from_collection_for_select(Answer.where(:enable=>true).all, 'id', 'title',@sub_answer.answer_id),{},{:class=>"form-control"} %>
</div>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, :class => "form-control", :autofocus => true %>
</div>
<div class="form-group">
	<%= f.label :enable %>
	<%= f.check_box :enable %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
