<!DOCTYPE html>
<html lang="<%=I18n.locale %>">
<head>
<meta charset="utf-8" />
<title><%=t(:application_name)%> <%=t(:login_page) %></title>
<meta name="description" content="<%=t(:application_name)%> Admin System Login" />
<meta name="author" content="Sleeping-Lion" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<%= stylesheet_link_tag 'admin/application', :media => 'all', 'data-turbolinks-track' => true %>
<%= favicon_link_tag 'favicon.ico' %>
<%= csrf_meta_tags %>
<style type="text/css">
	body { background: url('<%=asset_path 'bg-login.jpg' %>') !important; }
</style>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<![endif]-->
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="login-box">
				<h2><%=t(:application_name) %> <%=t(:login_title) %></h2>
				<%= yield %>
			</div>
		</div>
	</div>
	<%= javascript_include_tag asset_path 'admin/login.js', 'data-turbolinks-track' => true  %>
</body>
</html>
