<%= form_for [:admin,@users_sub_question] do |f| %>
<% if @users_sub_question.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@users_sub_question.errors.count, "error") %>
		prohibited this sponsor from being saved:</h2>
	<ul>
		<% @users_sub_question.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :user_id %>
	<%= f.select :user_id,options_from_collection_for_select(User.where(:enable=>true).all, 'id', 'name',@users_sub_question.user_id),{},{:class=>"form-control"} %>
</div>
<div class="form-group">
	<%= f.label :sub_question_id %>
	<%= f.select :sub_question_id,options_from_collection_for_select(SubQuestion.where(:enable=>true).all, 'id', 'title',@users_sub_question.sub_question_id),{},{:class=>"form-control"} %>
</div>
<div class="form-group">
	<%= f.label :enable %>
	<%= f.check_box :enable %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
