<section class="sl_show">
	<p>
		<b><%=t(:label_title) %></b>
		<%=@answer.title %>
	</p>
	<p>
		<b><%=t(:label_sub_question_count) %></b>
		<%=@answer.sub_questions_count %>
	</p>
	<p>
		<b><%=t(:label_flag) %></b>
		<%=raw flagToString(@answer.enable) %>
	</p>
	<p>
		<b><%=t(:label_created_at) %></b>
		<%= @answer.created_at %>
	</p>
	<p>
		<b><%=t(:label_updated_at) %></b>
		<%= @answer.created_at %>
	</p>
</section>
<% if can? :update, @answer %>
<%= link_to t(:link_edit), edit_admin_answer_path(@answer) %> |
<% end %>
<%= link_to t(:link_list), admin_answers_path %>
