<%=form_tag admin_users_path,:method=>:get,:class=>"form-search sl_search" do %>
	<table class="table table-bordered table-striped">
		<tr>
			<th><%=label_tag :sample_id,t(:label_sample_id) %></th>
			<td><%=text_field_tag :sample_id, params[:sample_id],:class=>"form-control" %></td>
		</tr>
		<tr>
			<th><%=label_tag :name,t(:label_name) %></th>
			<td><%=text_field_tag :name, params[:name],:class=>"form-control" %></td>
		</tr>
		<tr>
			<th><label for="i_flag"><%=t(:label_status)%></label></th>
			<td>
				<select name="enable" id="i_flag" class="form-control">
					<option value="" <% unless params[:enable].present? %>selected="selected"<% end %>><%=t(:status_all) %></option>
					<option value="1" <% if params[:enable]==1 %>selected="selected"<% end %>><%=t(:status_use) %></option>
					<option value="0" <% if params[:enable]==0 %>selected="selected"<% end %>><%=t(:status_stop) %></option>
				</select>
			</td>
		</tr>
		<tr>
			<th><%=label_tag :start_date,t(:label_period_search) %></th>
			<td>
				<div class="row">
					<span class="col-xs-12 col-sm-6"><%=text_field_tag :start_date,@start_date,{:type=>:date,:class=>"datepicker form-control"} %></span>
					<span class="col-xs-12 col-sm-6"><%=text_field_tag :end_date,@end_date,{:type=>:date,:class=>"datepicker form-control"} %></span>
				</div>
				<div class="radio" style="padding-top:20px">
					<label class="radio-inline"><input type="radio" id="pe1" name="date_p" value="0" <% if params[:date_p]=='0' %>checked="checked"<% end %> /><%=t(:period_today) %></label>
					<label class="radio-inline"><input type="radio" id="pe2" name="date_p" value="7" <% if params[:date_p]=='7' %>checked="checked"<% end %> /><%=t(:period_week) %></label>
					<label class="radio-inline"><input type="radio" id="pe3" name="date_p" value="30" <% if params[:date_p]=='30' %>checked="checked"<% end %> /><%=t(:period_month) %></label>
					<label class="radio-inline"><input type="radio" id="pe4" name="date_p" value="90" <% if params[:date_p]=='90' %>checked="checked"<% end %> /><%=t(:period_month3) %></label>
					<label class="radio-inline"><input type="radio" id="pe5" name="date_p" value="180" <% if params[:date_p]=='180' %>checked="checked"<% end %> /><%=t(:period_month6) %></label>
					<label class="radio-inline"><input type="radio" id="pe6" name="date_p" value="false" <% if params[:date_p]==false %>checked="checked"<% end %> /><%=t(:period_all) %></label>
				</div>
				<div>
					<%=submit_tag t(:search), :class=>"btn btn-default" %>
				</div>
			</td>
		</tr>
	</table>
<% end %>
