<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%=t(:label_number)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_image)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_nick_name)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_login_id)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_email)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_login_count)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_lastlogin)%></Data></Cell>     
        <Cell><Data ss:Type="String"><%=t(:label_flag)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_created_at)%></Data></Cell>
      </Row>
      <% @admins.each do |admin| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= admin.id %></Data></Cell>
        <Cell><Data ss:Type="String"><% if admin.photo? %><%=admin.photo.medium_thumb %><% else %><%=t(:no_exist_image)%><% end %></Data></Cell>
        <Cell><Data ss:Type="String"><%= admin.nickname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= admin.login_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= admin.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= admin.sign_in_count %></Data></Cell>                
        <Cell><Data ss:Type="String"><%= admin.last_sign_in_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= flagToString(admin.flag,true) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= admin.created_at %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
