<section id="sl_user_add_form" class="sl_user_form">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal',:id=> 'user_form'}) do |f| %>
	<%= devise_error_messages! %>
	<input type="hidden" id="message_required" value="" />
	<input type="hidden" id="message_no_email" value="" />
	<input type="hidden" id="message_invalid_email" value="" />
	<input type="hidden" id="message_exists_email" value="" />
	<input type="hidden" id="message_available_email" value="<%= t(:available_email) %>" />
	<article class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><%= t(:user_data_default_insert) %></h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_email"><%= t(:email) %></label>
				<div class="col-sm-6">
					<%= f.text_field :login_id, :autofocus => true,:maxlength=>"255",:class=>"form-control" %>
				</div>
				<div class="col-sm-4">
					<input type="button" id="check_email_available_button" class="form-control btn btn-success" value="<%= t(:check_email_available) %>" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_password"><%= t(:password) %></label>
				<div class="col-sm-10">
					<%= f.password_field :password, :maxlength=>"60",:class=>"form-control" %>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_password_confirm"><%= t(:password_confirm) %></label>
				<div class="col-sm-10">
					<%= f.password_field :password_confirmation, :maxlength=>"60",:class=>"form-control" %>
				</div>
			</div>
		</div>
	</article>
	<article class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><%= t(:user_data_optional_insert) %></h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_name"><%= t(:name) %></label>
				<div class="col-sm-10">

				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_phone"><%= t(:phone) %></label>
				<div class="col-sm-10">

				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_birthday"><%= t(:birthday) %></label>
				<div class="col-sm-10">
					<input type="date" class="form-control datepicker" data-date-end-date="-6570d" id="sl_birthday" name="birthday" value=""  />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_height"><%= t(:height) %></label>
				<div class="col-sm-10">
					<input type="text" min="50" class="form-control" id="sl_height" name="height" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_weight"><%= t(:weight) %></label>
				<div class="col-sm-10">
					<input type="text" min="30" class="form-control" id="sl_weight" name="weight" />
				</div>
			</div>
			<div class="radio">
				<label class="control-label col-sm-2" for="sl_sex"><%= t(:sex) %></label>
				<div class="col-sm-10">
					<label class="radio-inline"> <%= radio_button_tag(:sex,1) %><%= label_tag(:sex_1, t(:male)) %> </label>
					<label class="radio-inline"> <%= radio_button_tag(:sex,0) %><%= label_tag(:sex_0, t(:female)) %> </label>
				</div>
			</div>
		</div>
	</article>
	<article class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><%= t(:user_agree) %></h3>
		</div>
		<div class="panel-body">
			<div class="col-md-offset-2">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="agree[over_age_18]" value="1"  />
						<span><%= t(:over_age18_agreement) %></span> </label>
						<a href="">만 18세 미만의 경우 서비스 이용방법 보기</a>
				</div>
			</div>
			<div class="col-md-offset-2">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="agree[service]" value="1"  />
						<span><%= t(:service_agreement) %></span> <%=link_to t(:see_it),:class=>'modal_link',:'data-toggle'=>"modal",:'data-target'=>"#myModal" %>
				</div>
			</div>
			<div class="col-md-offset-2">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="agree[information]" value="1"  />
						<span><%= t(:personal_information_agreement) %></span> <%=link_to t(:see_it),'/home/popup',:class=>'modal_link',:'data-toggle'=>"modal",:'data-target'=>"#myModal" %>
				</div>
			</div>
		</div>
	</article>
	<div class="section_bottom">
		<%= f.submit t(:user_form_submit),:class=>"btn btn-primary btn-lg" %>
	</div>
	<% end %>
</section>
